.BGGwrapper {
    margin: 0 auto !important;
    width: 90% !important;
    background-color: white !important;
    display: flex !important;
    flex-direction: column !important;
    max-width: 60em;
}

/*HEADER*/

.BGGheader {
    background-color: rgb(37, 37, 37) !important;
    font-size: 1.5em !important;
    color: white !important;
    padding: 2px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.BGGheader a {
    color: lightblue !important;
    text-decoration: none !important;
}

.BGGheader a:hover {
    color: white !important;
    text-decoration: none !important;
}

.BGGheader a:visited {
    color: lightblue !important;
    text-decoration: none !important;
}

/*FOOTER*/

.BGGprovided {
    background-color: rgb(37, 37, 37) !important;
    font-size: 26px !important;
    color: white !important;
    text-align: right !important;
    clear: both !important;
    padding: 2px !important;
    display: block !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.BGGprovided a {
    color: lightblue !important;
    text-decoration: none !important;
}

.BGGprovided a:hover {
    color: white !important;
    text-decoration: none !important;
}

.BGGprovided a:visited {
    color: lightblue !important;
    text-decoration: none !important;
}

/*MIDDLE SECTION (CONTAINS PIC AND TEXT)*/

.BGGitem {
    width: 100% !important;
    text-align: left !important;
    clear: both !important;
    float: left !important;
    margin: 2px 0 !important;
    font-size: 1px !important;
}

/*PIC IN MIDDLE SECTION*/

.BGGitem img {
    float: left !important;
    margin-right: 4px !important;
    vertical-align: text-top !important;
    width: auto !important;
}

/*TEXT IN MIDDLE SECTION*/

.BGGtitle {
    font-size: 32px !important;
    width: 100% !important;
    text-align: center !important;
}

.BGGtitle a {
    color: #22344B !important;
    text-decoration: none !important;
}

.BGGtitle a:hover {
    color: lightblue !important;
    text-decoration: none !important;
}

.BGGtitle a:visited {
    color: #22344B !important;
    text-decoration: none !important;
}

/*MIDDLE SECTION (CONTAINS PIC AND TEXT)*/

.BGGitem {
    width: 100% !important;
    text-align: left !important;
    clear: both !important;
    float: left !important;
    margin: 2px 0 !important;
    font-size: 1px !important;
}

/*PIC IN MIDDLE SECTION*/

.BGGitem img {
    float: left !important;
    margin-right: 4px !important;
    vertical-align: text-top !important;
    width: auto !important;
}

/*TEXT IN MIDDLE SECTION*/

.BGGtitle {
    font-size: 32px !important;
    width: 100% !important;
    text-align: center !important;
}

.BGGtitle a {
    color: #22344B !important;
    text-decoration: none !important;
}

.BGGtitle a:hover {
    color: lightblue !important;
    text-decoration: none !important;
}

.BGGtitle a:visited {
    color: #22344B !important;
    text-decoration: none !important;
}