    /* UTILITIES */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Rubik', 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif;
    }

    body {
        font-family: cursive;
        font-size: calc(10px + 0.33vw);
        -webkit-font-smoothing: antialiased;
        color: #121314;
    }

    p {
        font-size: 1.6em;
        font-weight: 300;
        line-height: 1.4;
        max-width: 28em;
    }

    .indent {
        padding-left: 5%;
    }

    .indent_twice {
        padding-left: 10%;
    }

    .body_text .note {
        padding-left: 20px;
        font-size: 1.2em;
    }

    a {
        text-decoration: none;
        white-space: nowrap;
        color: #121314;
        position: relative;
    }

    .body_text {
        padding: 5vh 10vw;
    }

    .body_text p {
        font-size: 1.6em;
        font-weight: 300;
        line-height: 1.4;
        max-width: 60em;
    }

    .link:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 66%;
        left: -0.1em;
        right: -0.1em;
        bottom: 0;
        transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
        background-color: #a03939;
        opacity: 30%;
    }

    .link:hover:after {
        top: 0%;
    }

    li {
        list-style: none;
    }

    h1 {
        font-size: 4.5em;
        font-weight: 500;
        margin-bottom: 0;
    }

    h3 {
        font-weight: 500;
        font-size: 2.2em;
        line-height: 1.4;
        max-width: 28em;
    }

    h5 {
        font-weight: 500;
        font-size: 1.6em;
        line-height: 1.4;
        max-width: 60em;
    }

    h6 {
        font-weight: 400;
        font-size: 1.6em;
        line-height: 1.4;
        max-width: 60em;
    }

    /* NAVBAR STYLING STARTS */
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        /*Padding around the words in the Nav Bar*/
        background-color: rgb(37, 37, 37);
        color: #fff;
        position: sticky;
        /*Sticks the Nav Bar to one specific position regardless of scroll*/
        top: 0;
        /*Selects the top of the page as the specific position*/
        z-index: 1000;
    }

    .nav-links a {
        color: #fff;
    }

    /* LOGO/Signature */
    .logo {
        font-size: 40px;
        font-family: 'Dawning of a New Day', cursive;
        font-weight: bold;

    }

    /* NAVBAR MENU */
    .menu {
        display: flex;
        gap: 1em;
        font-size: 24px;
    }

    .menu .dropdown_item:hover {
        background-color: #a03939;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    .menu .menu_item:hover {
        background-color: #a03939;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    .menu div {
        padding: 5px 14px;
    }

    /* DROPDOWN MENU */
    .interests {
        position: relative;
        transition: 0.3s ease;
    }

    .dropdown {
        background-color: rgb(37, 37, 37);
        padding: 1em 0;
        position: absolute;
        /*WITH RESPECT TO PARENT*/
        /*display: none;*/
        opacity: 0%;
        border-radius: 10px;
        top: 35px;
        transition: 0.3s ease;
        visibility: hidden;
    }

    .dropdown div+div {
        margin-top: 10px;
        transition: 0.3s ease;
    }

    .dropdown div {
        padding: 0.5em 1em;
        width: 8em;
        text-align: center;
        transition: 0.3s ease;
    }

    .dropdown div:hover {
        background-color: #a03939;
        transition: 0.3s ease;
    }

    .interests:hover .dropdown {
        /*display: block;*/
        opacity: 100%;
        transition: 0.3s ease;
        visibility: visible;
    }

    /*RESPONSIVE NAVBAR MENU STARTS*/
    /* CHECKBOX HACK */
    input[type=checkbox] {
        display: none;
    }

    /*HAMBURGER MENU*/
    .hamburger {
        display: none;
        font-size: 24px;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .body_text .left,
    .image .left {
        text-align: left;
    }

    .body_text .right,
    .image .right {
        text-align: right;
    }

    .body_text .center,
    .image .center {
        text-align: center;
    }

    .grouping {
        padding-top: 5%;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .grouping .resume_category {
        font-weight: 800;
        font-size: 32px;
        line-height: 1.4;
        max-width: 100%;
        min-width: 100%;
    }

    .grouping .degree,
    .grouping .certification,
    .grouping .skills_interests,
    .grouping .job_title {
        font-weight: 600;
        font-size: 26px;
        line-height: 1.4;
        padding-top: 2%;
        max-width: 100%;
        min-width: 100%;
    }

    .grouping .school,
    .grouping .issuer,
    .grouping .employer {
        font-weight: 500;
        font-size: 22px;
        line-height: 1.4;
        max-width: 100%;
        min-width: 100%;
    }

    .grouping .date {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.4;
        max-width: 100%;
        min-width: 100%;
    }

    .grouping li {
        list-style: none;
        list-style-position: inside;
        padding-top: 1%
    }

    .grouping ul .sublist {
        padding-top: 0;
    }

    .grouping .sublist_items {
        padding-left: 3%;
    }

    .ex_date {
        padding-bottom: 1%;
    }

    .grouping .degree_notes,
    .grouping .cert_notes,
    .grouping .interest_notes,
    .grouping .duties {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.4;
        max-width: 100%;
        min-width: 100%;
    }

    .grouping .cert_sub_notes {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.4;
        max-width: 100%;
        min-width: 100%;
        padding-left: 3%;
    }

    .resume_p {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.4;
        max-width: 100%;
        min-width: 100%;
    }

    /*Board Game Geek*/
    #BGGWidget {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
    }

    .BGGwrapper {
        border: none;
        margin: 0 auto;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .BGGheader {
        background-color: white;
        color: #121314;
        padding: 2px;
        width: 100%;
        font-size: 1.6em;
        font-weight: 300;
        line-height: 1.4;
    }

    .BGGheader a {
        white-space: nowrap;
        position: relative;
        color: rgb(247, 14, 14);
        text-decoration: none;
    }

    .BGGheader a:hover {
        color: white;
        text-decoration: none;
    }

    .BGGheader a:visited {
        color: lightblue;
        text-decoration: none;
    }

    .BGGprovided {
        background-color: white;
        color: #121314;
        text-align: center;
        clear: both;
        padding: 2px;
        display: block;
        width: 100%;
        font-size: 1.6em;
        font-weight: 300;
        line-height: 1.4;
    }

    .BGGprovided a {
        color: rgb(247, 14, 14);
        text-decoration: none;
    }

    .BGGprovided a:hover {
        color: white;
        text-decoration: none;
    }

    .BGGprovided a:visited {
        color: rgb(247, 14, 14);
        text-decoration: none;
    }

    .BGGitem {
        text-align: center;
        clear: both;
        margin: 5% auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .GameContainer {
        width: 100%;
    }

    .BGGitem hr {
        width: 100%;
    }

    .BGGitem .GameImageContainer img {
        border-radius: 25px;
        justify-content: center;
        margin: auto;
        padding: auto;
    }

    .GameImageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 31vh;
        height: 31vh;
        margin-left: auto;
        margin-right: auto;
        padding-left: auto;
        padding-right: auto;
        justify-content: center;
    }

    .bgg_image {
        margin: 10px;
        max-height: 30vh;
        max-width: 30vh;
    }

    .BGGitem #collection-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .BGGitem #collection-list li {
        width: 30em;

        margin: 20px;
        padding: 1rem;
        background-color: whitesmoke;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .BGGitem #collection-list li p {
        width: 100%;
        max-width: none;
    }

    .BGGitem #collection-list li h3 {
        max-width: none;
    }

    .BGGtitle {
        text-align: center;
        font-size: 2em;
        font-weight: 300;
        line-height: 1.4;
        width: 100%;
    }

    .BGGtitle a {
        color: #22344B;
        text-decoration: none;
    }

    .BGGtitle a:hover {
        color: lightblue;
        text-decoration: none;
    }

    .BGGtitle a:visited {
        color: #22344B;
        text-decoration: none;
    }

    /*Pens For A Cause logo on Resume page*/
    #PFAC {
        width: 30%;
        border-radius: 10px;
    }

    /*All header images*/
    .header_image {
        width: 100%;
        height: auto;
    }

    /*Disc Golf Tables*/
    .styled-table {
        border-radius: 25px;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        text-align: center;
        float: left;
        width: 100%;
    }

    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: center;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }

    /*Google Maps*/
    .Google-Maps iframe {
        margin: 25px 0;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        width: 50%;
    }

    /*YouTube Videos*/
    .YouTube {
        position: relative;
        overflow: hidden;
        padding-bottom: 56.25%;
        /* 16:9 */
        height: 0;

    }

    .YouTube iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .portrait_div {
        width: 100%;
    }

    .front_portrait {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        border-radius: 10px;
    }

    .gallery_container {
        padding: 5vh 10vw;
    }

    .image-gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .image-gallery .img_container {
        height: 300px;
        cursor: pointer;
        position: relative;
    }

    .image-gallery>.img_container {
        flex-grow: 1;
    }

    .image-gallery .img_container img {
        object-fit: cover;
        width: 100%;
        height: 90%;
        vertical-align: middle;
        border-radius: 5px;
    }

    /*Div that contains all text at the bottom of the AI page*/
    .bottom_AI {
        padding-top: 0;
    }

    /*Map that shows where the ISS is*/
    #issMap {
        height: 700px;
        padding: 0 10vw;
        margin: 0 auto 10% auto;
        border-radius: 10px;
    }

    #issMapContainer {
        max-width: 1000px;
    }

    #coordinatesContainer {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #coordLabels {
        max-width: 30%;
        margin-right: 0;
        display: inline-block;
    }

    #coordNumbers {
        max-width: 30%;
        display: inline-block;
        margin-left: auto;
    }

    #coordNumbers p {
        text-align: right;
    }

    #coordRow {
        width: 100%;
    }

    /* Buttons */


    /* Animate the size, inside */
    .fill:hover,
    .fill:focus {
        box-shadow: inset 0 0 0 2em var(--hover);
    }

    /* All button elements */
    button {
        /* initial text and border color */
        color: white;
        /* initial background color */
        background-color: #a03939;
        transition: .25s;
        border: 2px solid;
        line-height: 1;
        margin: 0.5em;
        padding: 1em 2em;
        border-radius: 30px;
        font-weight: 500;
        font-size: 18px;
    }

    button:hover,
    button:focus {
        border-color: var(--hover);
        /* hover text and border color */
        color: #a03939;
        /* hover background color */
        background-color: white;
        cursor: pointer;
    }

    /* Button wrapper div */
    .buttons {
        width: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        min-height: 5vh;
        display: flex;
        flex-wrap: wrap;
    }

    /*
    details {
        font-size: 1.6em;
        font-weight: 300;
        line-height: 1.4;
        max-width: 60em;
        padding-bottom: 2%;
    }

    .tech_group h3{
        padding-bottom: 1%;
    }

    .body_text details h5 {
        
        padding-top: 10px;
        padding-left: 5%;
    }

    .body_text details p {
        font-size: 1em;
        font-weight: 300;
        line-height: 1.4;
        max-width: 60em;
        padding-left: 10%;
        padding-top: 10px;
    }

    details summary {
        cursor: pointer;
        padding-left: 1%;
        background-color: #a03939;
        color: white;
        border-radius: 10px;
        width: 20%;
    }
*/
    .dnd_table {
        font-size: 1.6em;
        font-weight: 300;
        line-height: 1.4;
        max-width: 28em;
        table-layout: auto;
    }

    .dnd_table tr:nth-child(odd) {
        background-color: rgb(236, 235, 235);
    }

    .dnd_table_categories {
        font-weight: 300;
    }

    .dnd_table td {
        padding: 0 10px;
        overflow: hidden;
    }

    .dnd_portrait {
        display: block;
        width: 25%;
        border-radius: 10px;
    }

    details {
        cursor: pointer;
    }

    summary {
        font-size: 1.6em;
        font-weight: 300;
        line-height: 1.4;
    }

    .dnd_ul li {
        list-style-type: circle;
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.4;
    }

    .body_text .rev_header_small {
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.4;
        max-width: 28em;
    }

    .album_art_review {
        border-radius: 10px;
        width: 30em;

    }

    .vg_art_review {
        border-radius: 10px;
        max-width: 30em;
        max-height: 30em;
    }

    .center_p {
        margin: auto;
    }

    .shadow {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    }

    /*Screens smaller than 768px (tablet size and below) */
    @media (max-width: 768px) {
        .menu {
            display: none;
            position: absolute;
            background-color: rgb(37, 37, 37);
            right: 0;
            left: 0;
            text-align: center;
            padding: 16px 0;
        }

        .menu li:hover {
            display: inline-block;
            background-color: #a03939;
            transition: 0.3s ease;
        }

        .menu li+li {
            margin-top: 12px;
        }

        input[type=checkbox]:checked~.menu {
            display: block;
        }

        .hamburger {
            display: block;
        }

        .dropdown {
            left: 50%;
            top: 30px;
            transform: translateX(35%);
            transition: 0.3s ease;
            display: none;
        }

        .dropdown li:hover {
            background-color: #a03939;
            transition: 0.3s ease;
        }

        .YouTube iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        .Google-Maps iframe {
            margin: 25px 0;
            overflow: hidden;
            border-radius: 5px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            width: 100%;
        }

        .front_portrait {
            width: 100%;
            border-radius: 10px;
        }

        .dnd_portrait {
            width: 100%;
            border-radius: 10px;
        }

        #issMap {
            height: 400px;
            padding: 0 10vw;
            margin: 0 auto 10% auto;
            border-radius: 10px;
        }

        #coordLabels {
            max-width: 100%;
            margin-right: 0;
            display: inline-block;
        }

        #coordNumbers {
            max-width: 100%;
            display: inline-block;
            margin-left: auto;
        }

        .grouping {
            padding-top: 10%;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }

        details summary {
            width: 60%;

        }

        details {
            padding-bottom: 5%;
        }

        .album_art_review {
            border-radius: 10px;
            width: 100%;
            margin: auto;
        }
    }